---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="h-64 w-full flex flex-col items-center justify-center space-y-4">
    <h1 class="text-xl font-bold text-blue-600">Not Found</h1>
    <p>Looks like you got lost :(</p>
  </div>
</Base>
