---
import Page from "../layouts/Page.astro";
import Prompt from "../components/Prompt.astro";
---

<Page>
  <Prompt command="not-found" />
  <p>Oops! Looks like you got lost :(</p>
  <a href="/"><p class="underline">Return to home.</p></a>
</Page>
