---
import Page from "../layouts/Page.astro";
import Prompt from "../components/Prompt.astro";
import ReturnHomeCommand from "../components/ReturnHomeCommand.astro";
---

<Page>
  <Prompt command="not-found" />
  <p>Oops! Looks like you got lost :(</p>
  <ReturnHomeCommand />
</Page>
