---
import Heading from "../components/Heading.astro";
import Base from "../layouts/Base.astro";
---

<Base>
  <Heading>404 - Not Found</Heading>
  <h2 class="h-48 align-middle text-[8rem] font-bold pt-28">:(</h2>
</Base>
