---
import Heading from "../components/Heading.astro";
import Page from "../layouts/Page.astro";
---

<Page>
  <Heading>404 - Not Found</Heading>
  <h2 class="h-48 align-middle text-[8rem] font-bold pt-28">:(</h2>
</Page>
