---
import Page from "../layouts/Page.astro";
---

<Page title="404 | Jamalam's Site" description="Page not found">
  <p class="sad">:(</p>
  <p>This page does not exist</p>
</Page>

<style>
  .sad {
    font-size: 3em;
    font-weight: bold;
  }

  p {
    text-align: center;
  }
</style>
