---
import Hero from "../components/Hero.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Base from "../layouts/Base.astro";

const posts = (await Astro.glob("./blog/**/*.mdx"))
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => {
    return (
      new Date(b.frontmatter.publishDate).getDate() -
      new Date(b.frontmatter.publishDate).getDate()
    );
  });
---

<Base>
  <Hero>
    <h2 class="text-3xl text-center uppercase">My Blog</h2>
    <p class="text-2xl text-center font-extralight mx-8">
      All about whatever I want :)
    </p>
  </Hero>

  <div class="flex flex-col space-y-8">

  {
    posts.map((post) => (
      // @ts-ignore
      <ProjectCard {...(post.frontmatter)} />
    ))
  }
  </div>
</Base>
