---
import PostPreview from "../components/PostPreview.astro";
import { getBlogPosts } from "../content/config";
import Page from "../layouts/Page.astro";

const posts = await getBlogPosts().then((posts) => {
  const years: Record<string, typeof posts> = {};
  posts.forEach((post) => {
    const year = post.data.publishDate.getFullYear();
    if (!years[year]) {
      years[year] = [];
    }
    years[year].push(post);
  });

  return years;
});
---

<Page title="Blog | Jamalam's Site" description="">
  {
    Object.entries(posts).sort(([a, _], [b]) => parseInt(b) - parseInt(a)).map(([year, posts]) => (
      <div class="year-posts">
        <h2>{year}</h2>
        <ul>
          {posts.map((post) => (
            <li>
              <PostPreview post={post} />
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</Page>

<style>
  ul {
    list-style: none;
		padding: 0;
  }

  .year-posts {
    margin-bottom: 2rem;
  }

  .year-posts h2 {
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }

  .year-posts ul {
    margin-top: 0rem;
  }
</style>
