---
import DiscordServer from "../components/DiscordServer.astro";
import Page from "../layouts/Page.astro";
---

<Page>
  <div class="p-6 md:w-4/5 flex flex-col space-x-4 justify-center md:flex-row">
    <p class="md:w-1/3">
      I am very active on Discord (username `jamalam`). My personal server is for discussion about
      personal projects and general chat, while the support server is shared
      with several other creators and can be used for mod support.
    </p>
    <div class="py-6 md:py-0 md:w-1/2 space-y-4">
      <DiscordServer name="Personal Server" id="857702179800481793" />
      <DiscordServer name="Support Server" id="1082003252205338744" />
    </div>
  </div>

</Page>
