---
import Prompt from "../components/Prompt.astro";
import Page from "../layouts/Page.astro";
import profilePicture from "../assets/profile-picture-ascii-art.png";
import LinkCommand from "../components/LinkCommand.astro";

const { src: profilePictureSrc } = profilePicture as any;

const neofetchContent = [
  "james@jamalam.tech",
  "-".repeat("james@jamalam.tech".length),
  "OS: " + Astro.generator,
  "Name: James",
  "Location: UK",
  "Skills: Web Development, Modding, & Other Stuff",
  "Languages: TS, HTML, CSS, Java, & Kotlin",
  "Web Technologies: Astro (this!), Fresh, Tailwind, & Remix",
  "Modding Technologies: Fabric, Quilt, & Architectury",
];

const links = [
  ["About", "about"],
  ["Links & Contacts", "links"],
  ["Selected Projects", "projects"],
  ["Blog", "blog"]
]
---

<Page>
  <Prompt command="neofetch" />
  <br />
  <div class="flex flex-col items-center md:items-start md:flex-row">
    <img src={profilePictureSrc} class="pl-4 w-5/6 md:w-1/3 rounded-full" width="654" height="654" />
    <br />
    <div class="flex flex-col">
      {
        neofetchContent.map((i) => {
          if (i.includes(":")) {
            return (
              <p class="px-4">
                <span class="text-sky-200 text-bold">
                  {i.split(":")[0]}</span>{}<span>{":" + i.split(":")[1]}</span>
              </p>
            );
          } else if (i.includes("james@jamalam.tech")) {
            return (
              <p class="px-4 text-blue-400 text-bold">
                <span>
                  {i.split("@")[0]}</span>@<span>{i.split("@")[1]}</span>
              </p>
            );
          } else {
            return <p class="px-4">{i}</p>;
          }
        })
      }
    </div>
  </div>
  <br />
  <LinkCommand command="site-index" links={links} />
</Page>
