---
import Page from "../layouts/Page.astro";
import PostPreview from "../components/PostPreview.astro";
import { getBlogPosts } from "../content/config";

const recentPosts = await getBlogPosts().then((p) => p.slice(0, 3));
---

<Page title="Jamalam's Site" description="">
  <div class="hero">
    <img class="profile-picture" src="https://github.com/Jamalam360.png" alt="Jamalam's profile picture" />
    <div>
      <h1>Lorem ipsum.</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, ratione? Mollitia ut expedita esse. Minima, eum
        cupiditate natus in aut eaque dignissimos ipsa sint minus molestias ad laborum ex possimus?
      </p>
    </div>
  </div>

  <div class="socials-wrapper">
    <div class="socials">
      <a href="https://github.com/Jamalam360">GitHub</a>
      <a href="https://ko-fi.com/jamalamdev">Ko-Fi</a>
      <a href="https://modrinth.com/user/jamalam">Modrinth</a>
      <a href="https://curseforge.com/members/jamalam360">Curseforge</a>
      <a href="https://maven.jamalam.tech">Maven</a>
      <a href="https://status.jamalam.tech">Service Status</a>
    </div>
  </div>

  <h1>Recent Posts</h1>
  {recentPosts.map((post) => <PostPreview post={post} />)}
  <p class="see-more"><a href="/blog">See more...</a></p>
</Page>

<style>
  .hero {
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profile-picture {
    width: 16rem;
    border-radius: 50%;
  }

  .socials-wrapper {
    width: 100%;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: 2rem auto;
    font-size: 1.5rem;
  }

  .socials a {
    color: var(--text-color);
  }

  .socials a ~ a:before {
    content: "•";
    margin: 0 0.75rem;
  }

  .see-more {
    margin-top: 2rem;
  }

  @media (max-width: 800px) {
    .hero {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      margin: 1rem auto;
    }

    .profile-picture {
      width: 12rem;
    }

    .socials {
      justify-content: center;
      width: 80%;
      margin: 1rem auto;
    }
  }

  @media (max-width: 600px) {
    .socials {
      width: 100%;
      font-size: 1.25rem;
    }
  }
</style>
