---
import Layout from "../layouts/Layout.astro";
import GitHub from "../components/GitHub.astro";
import Twitter from "../components/Twitter.astro";
import { getCollection, getEntry } from "astro:content";

const posts = await getCollection("blog");
---

<Layout>
  <main class="m-8 md:m-40 md:w-1/2">
    <div id="hero" class="flex items-center">
      <h1 class="text-5xl font-semibold">Jamalam</h1>
      <span class="flex-grow"></span>
      <a href="https://github.com/Jamalam360"><GitHub /></a>
      <a href="https://mastodon.social/@jamalam"><Twitter /></a>
    </div>

    <h2 class="mt-4">
      👋 Hi! I'm James, or Jamalam. I'm a developer currently primarily working
      on Minecraft modding.
    </h2>

    <div class="mt-8 flex flex-col gap-4 md:flex-row">
      <div class="link portfolio">Portfolio</div>
      <div class="link discord">Discord</div>
      <div class="link email">Email</div>
    </div>

    <div id="posts" class="flex flex-col mt-2">
      {
        posts.map((post) => (
          <article class="mt-8">
            <a href={`/blog/${post.slug}`}>
              <h3 class="text-2xl">{post.data.title}</h3>
            </a>
            <p class="text-sm mb-4">{post.data.date}</p>
            <p>{post.data.summary}</p>
          </article>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  #hero a {
    @apply ml-8 scale-150;
  }

  .link {
    @apply text-center py-2 px-4 rounded-md font-semibold uppercase cursor-pointer;
  }

  .portfolio {
    background-color: #16a34a;
  }

  .discord {
    background-color: #5865f2;
  }

  .email {
    background-color: #0ea5e9;
  }
</style>
