---
import Heading from "../components/Heading.astro";
import Hero from "../components/Hero.astro";
import Link from "../components/Link.astro";
import PostPreview from "../components/PostPreview.astro";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog").then((a) =>
  a
    .filter((e) => !e.data.draft)
    .sort(
      (a, b) =>
        new Date(a.data.publishDate).getTime() -
        new Date(b.data.publishDate).getTime()
    )
    .slice(0, 3)
);
---

<Base>
  <Hero>
    <!-- Profile Picture Background -->
    <div
      class="bg-white dark:bg-gray-700 drop-shadow-2xl duration-500 hover:drop-shadow-none p-2 mb-8 rounded-full"
    >
      <img
        src="https://github.com/Jamalam360.png"
        class="rounded-full w-48"
        alt="Jamalam's profile picture."
      />
    </div>

    <h2 class="text-3xl text-center uppercase">Avid software developer</h2>
    <p class="text-2xl text-center font-extralight mx-8">
      of mods, websites, and many things in between.
    </p>
  </Hero>

  <!-- Main Content -->
  <div class="w-full">
    <!-- About Me -->
    <Heading>About Me</Heading>
    <p class="px-4 mb-4">
      Hi! I'm Jamalam, or James. I'm a young developer from the UK, and it looks
      like you have stumbled across my site, welcome! :)
    </p>
    <p class="px-4 mb-4">
      I've been programming for upwards of 5 years now, starting with Raspberry
      Pi based robots with Python, then learning Java for Minecraft modding, and
      now I'm playing around with web development, and Rust. You can find a
      timeline of some of my projects on my <Link href="/portfolio">
        portfolio
      </Link> page.
    </p>
    <p class="px-4 mb-4">
      When I'm not programming (0_0), I enjoy boats, engineering/product design,
      and going for walks with <Link href="/dogs" rel="prefetch">my dogs</Link>. <span
        class="text-blue-500">Sky blue</span
      > is my favourite colour (although I'm colour blind), and I love indie rock.
    </p>

    <!-- Latest Blog Post List -->
    <div class="w-full">
      <Heading>Latest Blog Posts</Heading>
      <p class="px-4 mb-8 text-center">
        You can find more projects on the <Link href="/blog">blog</Link> page.
      </p>
      <div class="flex flex-col space-y-8">
        {posts.map((post) => <PostPreview {...post.data} slug={post.slug} />)}
      </div>
    </div>
  </div>
</Base>
