<footer>
  <p class="copyright">© 2024 Jamalam</p>
  <p class="switcher">Bring on the darkness</p>
</footer>

<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    color: var(--deemphasis-text-color);
  }

  .switcher {
    cursor: pointer;
    user-select: none;
    color: var(--deemphasis-text-color);
  }
</style>

<script src="./switcher.ts"></script>
