---
import Prompt from "./Prompt.astro";

interface Props {
  command: string;
  links?: string[][];
  externalLinks?: string[][];
}

const { links, command, externalLinks } = Astro.props;
---

<Prompt command={command} />
<ul>
  {
    links
      ? links.map((link) => {
          return (
            <li>
              -{" "}
              <a href={import.meta.env.BASE_URL + link[1]} class="underline">
                {link[0]}
              </a>
            </li>
          );
        })
      : externalLinks
      ? externalLinks.map((link) => {
          return (
            <li>
              -{" "}
              <a href={link[1]} class="underline">
                {link[0]}
              </a>
            </li>
          );
        })
      : null
  }
</ul>
