---
interface Props {
  command: string;
}

const { command } = Astro.props;
---

<p class="text-white">
  <span class="text-bold text-green-500">james@jamalam.tech</span>:<span
    class="text-bold text-blue-400">~/</span
  >$ {command}
</p>
