---
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";

const {
  title = "Jamalam's Site",
  description = "Jamalam's portfolio, blog, and more.",
} = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body
    class="bg-gradient-to-br from-slate-900 via-slate-700 to-slate-900 text-sky-200 min-h-screen max-w-full flex flex-col"
  >
    <Nav />
    <main class="mt-8"><slot /></main>
    <Footer />
  </body>
</html>
