<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Jamalam</title>
  </head>
  <body class="min-h-screen flex flex-col text-white text-base bg-gradient-to-b from-black via-50% via-black to-[#072513] md:bg-gradient-to-r">
    <slot />

    <div class="flex-grow" />

    <footer class="text-center py-8 px-8 mx-auto md:px-0 md:mx-40 md:w-1/2 md:text-left">
      Support me on <a href="https://ko-fi.com/jamalamdev">Ko-fi</a> or use code <span class="text-green-500">jamalam</span> at <a href="https://bisecthosting.com/jamalam">BisectHosting</a> ❤️
    </footer>
  </body>
</html>

<style is:global>
  body {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(7, 37, 19, 1) 100%
    );
  }

  a {
    @apply font-medium underline text-green-500;
  }
</style>
