---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";

const {
  title = "Jamalam's Site",
  description = "Jamalam's portfolio, blog, and more.",
} = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body
    class="bg-gradient-to-br from-sky-500 via-sky-700 to-sky-500 w-full min-h-screen flex flex-col items-center justify-center font-inter"
  >
    <div
      class="pt-8 w-11/12 flex flex-col items-center justify-center drop-shadow-4xl"
    >
      <div
        class="bg-white rounded-tr-lg rounded-tl-lg text-md w-full p-3 flex items-center"
      >
        <a href="mailto:james@jamalam.tech" class="pl-2"
          >james@jamalam.tech: ~/</a
        >
        <div class="flex-grow"></div>
        {
          ["min", "maximize", "close"].map(async (i) => {
            return (
              <img
                src={((await import(`../assets/${i}.png`)) as any).default.src}
                class="px-2 h-5"
              />
            );
          })
        }
      </div>
      <div
        class="bg-gray-900 w-full text-sm rounded-br-lg rounded-bl-lg text-white flex flex-col font-jetbrains p-2"
      >
        <main><slot /></main>
      </div>
      <Footer />
    </div>
  </body>
</html>
